
body{
    background-image: url(https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80);
    background-color: white;
}
#wrapper {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}
.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 600px;
    width: 600px;
    
}
.book {
    height: 160px;
    width: 160px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    background-color: #DCDCDC;
    
}
.book:hover{
    transform: scale(1.05);
}
.read-button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #66ff99;
    margin: 10px;
    border-radius: 5px;
    height: 25px;
    font-weight: bold;
}
.remove-button {
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    background-color: #ffb3b3;
    height: 25px;
    border-radius: 5px;
}
.new-book{
    margin: 50px;
    height: 50px;
    width: 80px;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
}
#popup{
    z-index:10;
    position: fixed;
    background-color:white;
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    max-width: 80%;
    margin-bottom: 200px;
}


.form-header{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.form-header .close-button {
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
.form-body{
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;;
    height: 280px;
}
.submit-button {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
}
#overlay.active{
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
button:hover{
    transform: scale(1.1);
}
